/* App.css */

.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container.css */

.container {
  border: 1px solid #ddd;
  width: 500px;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #ffcc70 0%, #ff7f50 100%);
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.head {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #ff7f50;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #ffcc70;
  box-shadow: 0 0 5px 2px rgba(255, 105, 50, 0.5);
}

button:focus {
  outline: none;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.correct {
  animation: correctAnimation 1s infinite;
}

.incorrect {
  animation: incorrectAnimation 1s infinite;
}

@keyframes correctAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes incorrectAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
